@using CodeRollProject.EntityLayer.Concrete
@model List<Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<main>
    <div class="card-container">
        <div class="card">
            <div class="card-header">CREATE EVENT</div>
            <div class="card-photo"><img src="https://img.freepik.com/premium-vector/business-meeting-office-conference-table-with-talking-businessmen-businesswomen_53562-4385.jpg" alt=""></div>
            <div class="card-button">
                <button class="button1"><a href="/CreateEvent/Index/" style="text-decoration:none">Create</a></button>
            </div>
        </div>
        <div class="card">
            <div class="card-writing">
                <h3>Your Last 5 Event </h3>
            </div>
            <div class="card-list">
                <ul class="list">
                    @foreach (var item in Model)
                    {
                        <li class="listItem">
                            <i class="fa-solid fa-business-time"></i><a href="/EventSummary/Index/@item.EventUrl">@item.EventName</a>
                            <a class="btn btn-danger" href="/Dashboard/DeleteEvent/@item.EventID">Delete</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</main>