@model CodeRollProject.EntityLayer.Concrete.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code & Roll</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div class="registerContainer">  
            <form asp-action="Index" asp-controller="Login" method="post" >
                <div class="mail">
                    <label for="email">E-Mail</label>
                    <br>
                    <input type="email" asp-for="Email" id="email"  placeholder="Your E-Mail..">
                    <span asp-validation-for="Email" style="color:red"></span>
                </div>

                <div class="sifre">
                    <label for="pword">Password</label>
                    <br>
                    <input type="password" asp-for="Password" id="pword" placeholder="Your password..">
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>
                <button>Login</button>
            </form>
        </div>
    </main>
</body>
</html>